@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: linear-gradient(120deg, #C97D60, #ffffff);
  font-family: 'Poppins', sans-serif;
  min-height: 95vh;
  /* color: #262322; */
}

/* Färgschema valt av harrys waifu */
/* Text: #262322 */
/* Main: #63372C */
/* Support: #C97D60 */
/* Alternative: #FFBCB5 */
/* Alt support: #F2E5D7 */

/* Header */
.Header {
  background: #63372C;
  width: 100%;
  /* border-bottom: 1px solid #dee2e6; */
}

.Header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  flex-wrap: wrap;
}

.Header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 0.05 1 40rem;
}

.Header a {
  color: #F2E5D7;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

.Header a:hover {
  cursor: pointer;
  color: #FFBCB5;
  transform: scale(1.1);
}

/* Main */
.Main {
  min-height: 65vh;
  width: 90%;
  margin-left: 5%;
  margin-top: 2rem;
  background: #262322;
  border-radius: 1.4rem;
  overflow: hidden;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
}

.Stream {
  background: white;
  width: 100%;
  min-height: 40vh;
  text-align: center;
}

.Content {
  width: 100%;
  max-height: 50vh;
  margin-bottom: -1rem;
}

.Info {
  text-align: left;
  color: #F2E5D7;
  background: linear-gradient(140deg, #8b1ae7, #1f1d1c);
  min-height: 25vh;
  padding-left: 10%;
  padding-top: 10%;
}

/* Register */


/* Footer */
.Footer {
  min-height: 10vh;
  width: 100%;
  margin-bottom: -10px;
  background: #262322;
  color: #F2E5D7;
  position: fixed;
  bottom: 0;
  text-align: center;
}