@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: linear-gradient(180deg, #ee2f2f, #ffffff);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  /* color: #262322; */
}

/* Header */
.Header {
  /* background: #63372C; */
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  /* border-bottom: 1px solid #dee2e6; */
}

.Header nav {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; */
  min-height: 10vh;
  /* flex-wrap: wrap; */
  text-align: center;
}

/* .Header ul {
  /* display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 0.05 1 40rem; */
/* } */

.Header-headline {
  font-size: 2.6rem;
  transition: all 0.3s ease;
}

.Header p {
  color: #F2E5D7;
}

.Header a {
  list-style: none;
  text-decoration: none;
}

.Header-headline:hover {
  cursor: pointer;
  color: #ffffff;
  transform: scale(1.2);
}

/* Main */
.Main {
  min-height: 80vh;
  width: 20rem;
  margin-top: 2rem;
  background: #b4b1b1;
  border-radius: 1.4rem;
  overflow: hidden;
  box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
}

.Stream {
  width: 100%;
  min-height: 40vh;
  text-align: center;
}

.Content {
  width: 20rem;
}

.Info {
  text-align: left;
  color: #41403e;
  margin-top: -2rem;
  padding-left: 10%;
  padding-top: 10%;
}

/* Footer */
.Footer {
  min-height: 10vh;
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.Footer a {
  transition: all 0.3s ease;
}

.Footer a:hover {
  cursor: pointer;
  transform: scale(1.2);
}